<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>/vue2/Step03_class2.html</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
</head>
<body>
<h1>vue js 로 클래스 속성의 값 제어하기</h1>
<div id="app">
  <button class="btn btn-primary btn-lg">버튼</button>
  <button class="btn" v-bind:class="{'btn-primary':isPrimary, 'btn-lg':isLg}">Vue 버튼</button>
  <br />
  <label>
    파란색 버튼 <input type="checkbox" v-model="isPrimary"/>
  </label>
  <label>
    큰 버튼 <input type="checkbox" v-model="isLg"/>
  </label>
  <p>isPrimary:{{isPrimary}}</p>
  <p>isLg:{{isLg}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el:"#app",
    data:{
      isPrimary:false,
      isLg:false,
    },
    // 종속된 모델이 바뀌면 다시 호출되어서 연산된 (computed) 값을 리턴하는 함수
    computed:{
    //   계산된 모델을 작성하는 공간
      obj(){
        return {'btn-primary':this.isPrimary, 'btn-lg':this.isLg};
      }
    }
  });
</script>
</body>
</html>




